body {
  height: 100%;
  margin: 0;
  background-color: #eeeeee;
}

#title {
  margin-top: 10px;
  margin-bottom: 40px;
  font-family: "Barlow";
  color: #000000;
  text-align: center;
}

#editor {
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  box-shadow: 5px 5px 5px grey;
}

#preview {
  background-color: #cccccc;
  text-align: left;
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  box-shadow: 5px 5px 5px grey;
}

h2 {
  font-size: 1.4rem;
}

[class*="col-"] {
  margin-bottom: 3.5em;
}
